* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.heading{
    position: relative;
    height: 10vh;
    width: 100%;
    background-color: #9DC8E4;
    color: #666B6E;
    text-align: center;
}
.title .h1{
    position: absolute;
    align-items: center;
    display: flex;
}
.content {
    position: absolute;
    display: flex;
    height: 90vh;
    width: 100%;
    background-color: #666B6E;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.content form {
    flex: 1 1 45rem;
    position: relative;
    overflow: hidden;
    padding: 1rem;
    margin: 1rem;
    border-radius: 30px;
    width: 100%;
    height: auto;
    border: 10px solid  #33393D;
    background-color: #2AABE4;
}
.box {
    height: 2rem;
    width: 15rem;
    overflow: hidden;
    margin: 1rem;
    color: #33393D;
    border-radius: 10px;
    background-color: #FFCD24;
}
.to{
    display: flex;
    justify-content: center;
    height: 2rem;
    width: 8rem;
    position: relative;
    overflow: hidden;
    color: #FFE2D2;
}
input {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

select {
    height: 1.5rem;
    width: 10rem;
    margin-left: 1rem;
    background-color: aqua;
    border-radius: 5px;
    color: #FF8800;
  }
.btn {
    height: 3rem;
    width: 20rem;
    overflow: hidden;
    margin: 1rem;
    justify-content: space-between;
  }
.press{
    background-color: #a7c0cd;
    border-radius: 30px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: #506CF0;
    padding: 0.3rem 0.5rem;
    margin-left: 1rem;
    border-width: 3px;
}
    
.press:hover {
    box-shadow: 3px 8px 22px rgba(94,28,68,.15);
    transform: scale(1.1);
    transition: .2s ease-in-out;
}
footer{
    position: fixed;
    bottom: 1%;
        right: 45%;
        color: #999515;
    }

